<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">


  {% if blogs %}
    <h2 align="center">Blogs</h2>
  <a href="/newpost"><button type="submit">Add new post</button></a>
  <br>
  <br>
    {% for blog in blogs %}
    <div class="panel panel-default">
      <div class="panel-heading"><b>{{blog.title}}</b><div class="text-right">{{blog.date}}</div></div>
      <div class="panel-body">{{blog.blog}}</div>
    </div>
    {% endfor %}
  {% else %}
    <h2>No blogs to display</h2>
    <a href="/newpost"><button type="submit">Add new post</button></a>
  {% endif %}
</div>
</body>
</html>
