{% extends "main.html" %}
{% block content %}

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Back of a Length</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          {% if user %}
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
          <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

    <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <ul class="nav nav-pills nav-stacked">
          {% if user %}
          <li><a href="/newpost">Add new post</a></li>
          {% else %}
          <li><a href="/">All posts</a></li>
          {% endif %}
        </ul><br>
      </div>
      <div class="col-sm-9">
          {% if blogs %}

            <h4><small>RECENT POSTS</small></h4>
            <hr>
            {% for blog in blogs %}
            <div class="well">
              <h2>{{blog.title}}</h2>
              {% if user.name %}
                {% if blog.user.get().name == user.name %}
                  <a href="/editpost/{{blog.key.id()}}">Edit</a> | <a href="/deletepost/{{blog.key.id()}}">Delete</a>
                | <a href="/comment/{{blog.key.id()}}">Comment</a>
                {% else %}
                <a href="/comment/{{blog.key.id()}}">Comment</a>
                {% endif %}
              {% endif %}
              <hr>
              <h5><span class="glyphicon glyphicon-time"></span> Posted by {{blog.user.get().name}} on {{blog.dateTime.strftime('%B-%d-%Y at %I:%M:%S')}}</h5>
              <h5><span class="label label-danger"></span><span class="label label-primary"></span></h5><br>
              <p>{{blog.blog}}</p>
              <br><br>
              <!--{% if not user %}-->
                <!--<div class="like">-->
                  <!--<button type="button" class="btn btn-default btn-sm">-->
                    <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
                    <!--Like <input class="qty1" name="qty1" readonly="readonly" type="text" value="0" />-->
                  <!--</button>-->
                  <!--</div>-->
                <!--<div class="dislike">-->
                  <!--<button type="button" class="btn btn-default btn-sm">-->
                    <!--<span class="glyphicon glyphicon-thumbs-down"></span>-->
                    <!--Dislike <input class="qty2"  name="qty2" readonly="readonly" type="text" value="0" />-->
                  <!--</button>-->
                 <!--</div>-->
                <!--<hr>-->
                <!--<h4>Leave a Comment:</h4>-->
                <!--<form role="form">-->
                  <!--<div class="form-group">-->
                    <!--<textarea class="form-control" rows="3" required></textarea>-->
                  <!--</div>-->
                  <!--<button type="submit" class="btn btn-success">Submit</button>-->
                <!--</form>-->
                <!--<br><br>-->
              <!--{% endif %}-->
              <p><span class="badge"></span> Comments:</p><hr>
              {% for comment in blog.comments %}
              {% if blog.comments %}
                <div class="row">
                  <!--<div class="col-sm-2 text-center">-->
                    <!--<img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">-->
                  <!--</div>-->
                  <div class="col-sm-10">
                    <h4><small>Commented by </small>{{comment.get().user.get().name}}
                      <small>on {{comment.get().postedOn.strftime('%B-%d-%Y at %I:%M:%S')}}</small>
                    </h4>
                    <p>{{comment.get().comment}}</p>
                    <br/>
                  </div>
                </div>
              {% endif %}
                {% endfor %}

              </div>
            {% endfor %}
          {% else %}
            <h2>No blogs to display</h2>
          {% endif %}
      </div>
    </div>
      </div>
{% endblock %}
