{% extends "main.html" %}
{% block content %}


  {% if blogs %}
  <div id="scroll">
  <a href="/newpost"><button type="submit" class="btn btn-primary">Add new post</button></a>
  <br>
  <br>
    {% for blog in blogs %}
    <div class="panel panel-default" id="section1">
      <div class="panel-heading"><b>{{blog.title}}</b>
        <div class="text-right">{{blog.dateTime.strftime('%B-%d-%Y at %I:%M:%S')}}</div>
      </div>
      <div class="panel-body">{{blog.blog}}</div>
    </div>
    {% endfor %}
  {% else %}
    <h2>No blogs to display</h2>
    <a href="/newpost"><button type="submit" class="btn btn-primary">Add new post</button></a>
  {% endif %}

</div>
{% endblock %}
