<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <div class="panel panel-default">
      <div class="panel-heading"><b>{{post.title}}</b>
      </div>
      <div class="panel-body">{{post.blog}}</div>
    </div>
    <br>
    <a href="/"><button type="submit">See all posts</button></a>
</div>
</body>
</html>